body{
background-color: coral;
color: white;
}

.heading{
    font-size: 45px;
    pointer-events: none;
}

.objects{
    font-size: 25px;
}

#camera{
    width: 600px;
    height: 450px;
    border-color: black;
    border-style:outset ;
}

button{
    height: 50px;
    width: 175px;
}

#object_name{
    color: black;
}

#object_accuracy{
    color: black;
}

label{
    font-size: 20px;
}